.cart-container {
  /* margin-top: 50rem; */
  /* width: 100%; */
  /* max-width: 1400px; */
  /* background-color: #da3b3b; */
  /* padding: 20px; */
  padding-top: 8rem;
  align-items: center;
}

.cart-product-card {
  /* display: flex; */
  /* height: 140px; */
  justify-content: center;
  background-color: white;
}

.cart-product-card img {
  width: 100%;
  object-fit: contain;
  padding: 1px;
}

@media (max-width: 576px) {
  .cart-product-card img {
    width: 50%;
  }
}

.checkout-container {
  padding-top: 8rem;
  align-items: center;
}
