.cart-container {
  /* margin-top: 50rem; */
  /* width: 100%; */
  /* max-width: 1400px; */
  background-color: #ffffff;
  /* background-color: #da3b3b; */
  /* padding: 20px; */
  padding-top: 8rem;
  align-items: center;
}

.cart-product-card {
  display: flex;
  justify-items: center;
  background-color: white;
}

.cart-product-card img {
  width: auto;
  /* height: auto; */
  object-fit: cover;
  max-height: 90px;
}

.checkout-container {
  padding-top: 8rem;
  align-items: center;
}
