@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* .montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

html {
  /* font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal; */

  margin: 0;
  padding: 0;
}

body {
  /* display: flex; */
  align-items: center;
  /* height: 100vh; */
  width: 100%;
  margin: 0;
  padding: 0;

  background-color: #fdf2e9;

  /* font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal; */

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;

  /* font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal; */
}
body,
h1,
h2 {
  color: #455a64;
}

.admin-routes {
  min-height: calc(
    100vh - [footer height]
  ); /* Adjust this based on your footer's height */
  padding-bottom: [footer height]; /* Space to prevent overlap */
}

.bar-control {
  width: 100%;
  max-width: 1400px;
}
.container {
  /* margin-top: 8rem; */
  width: 100%;
  max-width: 1400px;
  /* background-color: #ffffff; */
  /* padding: 20px; */
}

.search-input {
  max-width: 600px;
  width: 100%;
}

.custom-navbar {
  /* background-color: #65c8d0;
  background-color: #ec407a; */
  background-color: #ff8a65;
}
.custom-navbar-admin {
  background-color: #d3d3d3;
  /* background-color: black; */
  /* color: blue; */
  font-weight: bold;
  /* color: white !important; */
  z-index: 1000;
}

.product-card {
  transition: box-shadow 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  font-size: 0.9em;
  /* max-width: 300px; */
  /* display: flex; */
  /* flex-direction: column; */
}

.price_text {
  color: #ff5722;
  font-weight: 600;
  font-size: 1.3em;
}
.price_text_cart {
  color: #ff5722;
  font-weight: 600;
  font-size: 1.1em;
}

.product-card img {
  width: 100%;
  height: 130px;
  object-fit: contain;
  max-height: 200px;
  /* padding: 1rem; */
}

.product-name {
  max-height: 3.6em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button_custom {
  background-color: #7d9fb2;
  /* background-color: #65c8d0; */
  /* background-color: #f48fb1;  */
  background-color: #ff8a65;
  /* color: #455a64; */
  color: #283747;
  font-weight: 400;
  border: none;
  /* height: */
}

.button_custom:hover {
  background-color: #65c8d0;
  background-color: #7d9fb2;

  background-color: #455a64;
  color: white;
  border: none;
}

.custom-margin-top-10 {
  margin-top: 10rem;
}
.material-icons {
  font-size: 24px;
  vertical-align: middle;
}
.custom-modal .modal-dialog {
  border-radius: 0;
}

.custom-modal .modal-content {
  border-radius: 0;
}

.preview-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

/* .font-class-1 {
  font-size: 0.8em;
} */

.list-font {
  font-size: 0.8em;
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield;
}

.custom-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
}

.category-section {
  /* background-color: #f8f9fa;
  background-color: #455a64; */
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  color: #455a64;
}

.category-title {
  background-color: #e9ecef;
  padding: 10px;
  border-radius: 5px;
}
/* .search-bar-container {
  padding-top: 5rem;
} */

.card-element {
  height: auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}

.search-button {
  background-color: #ec407a;
  color: white;
  border: none;
}

.search-button:hover {
  background-color: #455a64;
  color: white;
  border: none;
}

.order-status {
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.custom-pagination {
  margin-top: 20px;
  justify-content: center; /* Centers the pagination items */
}

.custom-pagination .page-item {
  margin: 0 5px; /* Add some space between the items */
}

.custom-pagination .page-link {
  background-color: #808b96; /* Custom background color */
  color: white; /* Custom text color */
}

.custom-pagination .page-link:hover {
  background-color: #ff8a65; /* Darker background on hover */
}

.custom-pagination .page-item.active .page-link {
  background-color: #455a64; /* Active item background */
  color: white; /* Active item text color */
  border: none;
}

.search-bar-navbar {
  background-color: #f8f9fa;
  /* background-color: #607d8b; */
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  /* padding-bottom: 10px; */
  margin-top: 3.6rem;
  /* z-index: 1000; */
}

.logo_section {
  /* top: 3rem; */
  /* background-color: #f8f9fa; */
  /* background-color: #607d8b; */
  /* padding-bottom: 15px; */
  width: 100%;
  height: 10rem;
  /* display: flex; */
  background-image: url("../assets/uncle_thomas_minimart_logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  /* margin-top: 8.8rem; */
}
.container-admin {
  margin-top: 5rem;
}

.admin-controls {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
